* {
    /* text-align: center; */
}

.header {
    font-family: monospace;
    /* padding-bottom: 30px; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer {
    color: #929292;
    font-size: 80%;
}

.wrapper {
    max-width: 600px;
    margin: auto;
    padding: 60px 30px
}

.blog {
    padding-bottom: 30px;
}

.postTitle {
    display: block;
    margin-top: 20px;
    margin-bottom: 6px;
}

.postList {
    list-style: none;
}

.postItem {
    padding: 10px 0 10px 0;
}

.postDate {
    font-size: 1em;
    font-style: italic;
}

.postMeta { /* Host post metadata */

}

.postContent {
    padding-top: 20px;
}

h1 {
    margin-top: 0px;
    margin-bottom: 5px;
}

ul {
    list-style-type: none; /* removes dots on list items */
    display: flex;
    margin: 0;
    padding: 0;
    gap: 8px;
}

a {
    text-decoration: none !important;/*  this removes the line under the links */
    font-size: 19px;
    /* background: white; */
    padding-bottom: 1px;
}

a:hover {
    color:navy;
    text-decoration: none !important;
    padding-bottom: 1px;
    border-bottom: 1px solid navy;
}


.jelly-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    /* background-color: transparent; */
  }
  
  .jelly-text {
    /* color: black; */
    font-weight: bold;
    transition: transform 0.4s ease-in-out;
  }
  
  .jelly-button:hover .jelly-text {
    animation: jelly 0.5s;
  }
  
  @keyframes jelly {
    0% {
      transform: scale(1);
    }
    25% {
      transform: scale(0.9);
    }
    50% {
      transform: scale(1.1);
    }
    75% {
      transform: scale(0.9);
    }
    100% {
      transform: scale(1);
    }
  }
