* {
    text-align: center;
}

.header {
    font-family: monospace;
    background: papayawhip;
  
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mid {
    font-size: 24px;
    font-weight: 900;
    color: rgb(0, 0, 0);
    background: white;
    padding: 4px 32px;
}

ul {
    list-style-type: none; /* removes dots on list items */
    display: flex;
    margin: 0;
    padding: 0;
    gap: 8px;
}

a {
    font-size: 22px;
    background: white;
    padding: 8px;
    text-decoration: none; /* this removes the line under the links */
}