* {
    text-align: center;
    padding: 0 50px 0;
}

a {
    font-size: 19px;
    /* background: white; */
    padding: 8px;
    text-decoration: none; /* this removes the line under the links */
}

ul {
    list-style-type: none; /* removes dots on list items */
    margin: 0;
    padding: 0;
    gap: 8px;
}

.post {
    font-size: 1em;
    line-height: 150%;
    margin-bottom: 15px;
}